@import "functions";

.analyse {
    .recharts-text {
        font-size: .75rem;
    }

    .graph-totals {
        max-width: none;
        label {
            font-weight: 500;
            margin-left: .25rem;
        }

        .white {
            background-color: #f0d9b5;
            color: #000;
            a {
                color: #000;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .black {
            background-color: #b58863;
            color: #fff;
            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 992px) { 
    .analyse {
        .graph-totals {
            max-width: rem-calc(210px);
        }
    }
}
