// Default Theme
@import "mixins";
$pages-root-url: "../";
$base-img-url: "/img" !default;
$assets-url: "../../assets" !default;
$base-cdn-url: "//cdn.chess-online.com/" !default;

$rem-base: 16px;

// Global Color
// ================ COLOR PALETTE ====================
$color-primary: #20748c !default;
$color-success: #ff8719 !default;
$color-success-text: #fff;
$color-complete : #0072ec !default;
$color-warning: #f8d053 !default;
$color-danger: #f55753 !default;
$color-info: #1f3953 !default;
$color-menu :#013f47 !default;

$color-base-blue: #013f47 !default;
$color-base-orange: #ff8719 !default;

//Neutral color shades
$color-contrast-lowest: #fff !default;
$color-contrast-higher: #212121 !default;

//constant colors
$color-white: #fff !default;
$color-black: #000 !default;

// Color names
$black:                 #000000;
$white:                 #ffffff;
$lime:                  #a4c400;
$green:                 #60a917;
$emerald:               #008a00;
$blue:                  #00AFF0;
$teal:                  #00aba9;
$cyan:                  #1ba1e2;
$cobalt:                #0050ef;
$indigo:                #6a00ff;
$violet:                #aa00ff;
$pink:                  #dc4fad;
$magenta:               #d80073;
$crimson:               #a20025;
$red:                   #e51400;
$orange:                #FF8719;
$amber:                 #f0a30a;
$yellow:                #e3c800;
$brown:                 #825a2c;
$olive:                 #6d8764;
$steel:                 #647687;
$mauve:                 #76608a;
$taupe:                 #87794e;
$dark:                  #1d1d1d;
$darkBrown:             #63362F;
$darkCrimson:           #640024;
$darkMagenta:           #81003C;
$darkIndigo:            #4B0096;
$darkCyan:              #1B6EAE;
$darkCobalt:            #00356A;
$darkTeal:              #004050;
$darkEmerald:           #003e00;
$darkGreen:             #128023;
$darkOrange:            #bf5a15;
$darkRed:               #9a1616;
$darkPink:              #9a165a;
$darkViolet:            #57169a;
$darkBlue:              #16499a;
$lightBlue:             #4390df;
$lighterBlue:           #00CCFF;
$lightTeal:             lighten($teal, 30%);
$lightOlive:            #78aa1c;
$lightOrange:           #c29008;
$lightPink:             #f472d0;
$lightRed:              lighten($red, 10%);
$lightGreen:            lighten($green, 10%);
$grayed:                #585858;
$grayDarker:            #222222;
$grayDark:              #333333;
$gray:                  #555555;
$grayLight:             #999999;
$grayLighter:           #eeeeee;

// ============== COLOR CALIBRATOR ==================
$saturation-shift: 18 !default; //This value changes the saturation shift in shades
$hue-shift: 8 !default; //This value changes the hue of shades

//Primary and Extended color scale
$mix-percentage-lighter: 16 !default;
$mix-percentage-light: 90 !default;
$mix-percentage-darker: 60 !default;
$mix-percentage-dark: 81 !default;

//Neutral color contrast scale
$mix-percentage-contrast-lower: 5 !default;   //Background
$mix-percentage-contrast-low: 14 !default;	  //Borders
$mix-percentage-contrast-medium: 62 !default; //Hinted text
$mix-percentage-contrast-high: 81 !default;	  //Body text

// ================ COLOR FACTORY ====================
//color shades and variable generation

//primary-shade
$color-primary-lighter: make-shade($color-primary, $mix-percentage-lighter, $saturation-shift, $hue-shift, -2) !default;
$color-primary-light: make-shade($color-primary, $mix-percentage-light, $saturation-shift, $hue-shift, -1) !default;
$color-primary-dark: make-shade($color-primary, $mix-percentage-dark, $saturation-shift, $hue-shift, 1) !default;
$color-primary-darker: make-shade($color-primary, $mix-percentage-darker, $saturation-shift, $hue-shift, 2) !default;

//success-shade
$color-success-lighter: make-shade($color-success, $mix-percentage-lighter, $saturation-shift, $hue-shift, -2) !default;
$color-success-light: make-shade($color-success, $mix-percentage-light, $saturation-shift, $hue-shift, -1) !default;
$color-success-dark: make-shade($color-success, $mix-percentage-dark, $saturation-shift, $hue-shift, 1) !default;
$color-success-darker: make-shade($color-success, $mix-percentage-darker, $saturation-shift, $hue-shift, 2) !default;

//complete-shade
$color-complete-lighter: make-shade($color-complete, $mix-percentage-lighter, $saturation-shift, $hue-shift, -2) !default;
$color-complete-light: make-shade($color-complete, $mix-percentage-light, $saturation-shift, $hue-shift, -1) !default;
$color-complete-dark: make-shade($color-complete, $mix-percentage-dark, $saturation-shift, $hue-shift, 1) !default;
$color-complete-darker: make-shade($color-complete, $mix-percentage-darker, $saturation-shift, $hue-shift, 2) !default;

//warning-shade
$color-warning-lighter: make-shade($color-warning, $mix-percentage-lighter, $saturation-shift, $hue-shift, -2) !default;
$color-warning-light: make-shade($color-warning, $mix-percentage-light, $saturation-shift, $hue-shift, -1) !default;
$color-warning-dark: make-shade($color-warning, $mix-percentage-dark, $saturation-shift, $hue-shift, 1) !default;
$color-warning-darker: make-shade($color-warning, $mix-percentage-darker, $saturation-shift, $hue-shift, 2) !default;

//danger-shade
$color-danger-lighter: make-shade($color-danger, $mix-percentage-lighter, $saturation-shift, $hue-shift, -2) !default;
$color-danger-light: make-shade($color-danger, $mix-percentage-light, $saturation-shift, $hue-shift, -1) !default;
$color-danger-dark: make-shade($color-danger, $mix-percentage-dark, $saturation-shift, $hue-shift, 1) !default;
$color-danger-darker: make-shade($color-danger, $mix-percentage-darker, $saturation-shift, $hue-shift, 2) !default;

//info-shade
$color-info-lighter: make-shade($color-info, $mix-percentage-lighter, $saturation-shift, $hue-shift, -2) !default;
$color-info-light: make-shade($color-info, $mix-percentage-light, $saturation-shift, $hue-shift, -1) !default;
$color-info-dark: make-shade($color-info, $mix-percentage-dark, $saturation-shift, $hue-shift, 1) !default;
$color-info-darker: make-shade($color-info, $mix-percentage-darker, $saturation-shift, $hue-shift, 2) !default;

//Neutral color shades - #hex values
$color-contrast-lower: mix($color-contrast-higher, $color-contrast-lowest, $mix-percentage-contrast-lower) !default;
$color-contrast-low: mix($color-contrast-higher, $color-contrast-lowest, $mix-percentage-contrast-low) !default;
$color-contrast-medium: mix($color-contrast-higher, $color-contrast-lowest, $mix-percentage-contrast-medium) !default;
$color-contrast-high: mix($color-contrast-higher, $color-contrast-lowest, $mix-percentage-contrast-high) !default;

//Neutral color shades - rgba values
$color-contrast-lower-a: rgba($color-contrast-higher, $mix-percentage-contrast-lower/100) !default;
$color-contrast-low-a: rgba($color-contrast-higher, $mix-percentage-contrast-low/100) !default;
$color-contrast-medium-a: rgba($color-contrast-higher, $mix-percentage-contrast-medium/100) !default;
$color-contrast-high-a: rgba($color-contrast-higher, $mix-percentage-contrast-high/100) !default;

//Menu colors generation
$color-menu-dark: mix($color-menu, #000, 77%) !default;
$color-menu-darker: mix($color-menu, #000, 90%) !default;

//Generating Menu font color
$menu-mix-temp: mix($color-menu, #fff, 86%) !default;
$menu: blend-hardlight($menu-mix-temp,#fff) !default;
$color-menu-light: $menu !default;
$color-menu-link-hover: #fff !default;

//Secondary menu
$_sidebar-background-color: blend-screen($color-menu, $color-menu) !default;
$sidebar-background-color: mix($_sidebar-background-color , #000, 48%) !default;

// ================ COLOR ASSIGN ====================
$dashboard-background: $color-contrast-lower !default; //Dashboard background color
$body-background: $color-contrast-lower !default; // Default Background color
$body-color: $color-contrast-high !default; // Default font color

$color-border-a: $color-contrast-low-a !default; //rgba value of $color-contrast-low for borders
$color-hinted-a: $color-contrast-medium-a !default; //rgba value of $color-contrast-medium for hinted text
$panel-border-color: transparent !default; //panel border color

//Base Grey Color
$color-master: #626262 !default;

// Lighter Grey colors
$color-master-light:mix($color-master, #fff, 16%) !default;
$color-master-lighter:mix($color-master, #fff, 9.5%) !default;
$color-master-lightest:mix($color-master, #fff, 3%) !default;

// Darker Grey colors
$color-master-dark:mix($color-master, #000, 45%) !default;
$color-master-darker:mix($color-master, #000, 27%) !default;
$color-master-darkest:mix($color-master, #000, 18%) !default;

$base-font-family: "Inter UI", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif !default;
$interface-font-family: "Inter UI", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif !default;
$secondary-font-family: "Montserrat", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif !default;
$force-mac-font-family: -apple-system, BlinkMacSystemFont,"Inter UI",  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif !default;

// Menu Vars
// --------------------------------------------------
//Menu Animation Curve
$menu-bezier:.05, .74, .27, .99 !default;
$menu-icon-size:40px !default;

// Body
// --------------------------------------------------
$body-font-family : $base-font-family !default;
$body-font-size : 13px !default;

// Layout
// --------------------------------------------------
$layout-header-height:60px !default;
$layout-mobile-header-height:48px !default;
$layout-mobile-logo-scale:0.8 !default;
$layout-sidepanel-width-collapsed : 70px !default;
$layout-sidepanel-width:280px !default;
$layout-sidepanel-pin-width:250px !default;
$layout-right-quickview-width: 285px !default;
$layout-user-profile-margin:25px !default;
$layout-container-fixed-lg: 1700px !default;

$layout-gutter-sm : 5px !default;

//Horizontal Dropdown
//---------------------------------------------------
$navbar-width:45px !default;
$menu-padding:25px !default;

$header-lg-height:75px !default;
$header-md-height:51px !default;
$header-sm-height:50px !default;

// Panels
$panel-border-color: rgba(0, 0, 0, 0.07) !default;
$panel-padding: 20px !default;
$panel-heading-padding: 16px 16px 7px $panel-padding !default;
$panel-heading-min-height: 48px !default;
$panel-condensed-heading-padding: 9px 13px 0 13px !default;
$panel-condensed-body-padding: 13px !default;
$panel-condensed-heading-min-height: 48px !default;
$panel-border-size: 0px !default;

//Forms
$form-group-height: 54px !default;
$form-control-border-color: rgba($color-black, .07) !default;

//Dashboard
$dashboard-background : #f5f5f5 !default;

// Email colors
// $sidebar-background-color : $color-menu-dark !default;
$_sidebar-background-color: blend-multiply($color-menu-light, $color-menu-light) !default;
$sidebar-background-color : mix($_sidebar-background-color , #000, 80%) !default;

$secondary-sidebar-width : 250px !default;
// Components
// --------------------------------------------------
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

//$padding-base-vertical:     6px !default;
$padding-base-horizontal:   17px !default;

// $padding-lg-vertical:    28px !default;
$padding-lg-horizontal:  28px !default;

// $padding-sm-vertical:    5px !default;
$padding-sm-horizontal:  16px !default;

$padding-xs-vertical:       2px !default;
$padding-xs-horizontal:     9px !default;

@import "modules/z_index";

// ============ ACCESSIBILITY ================
//element focus only when using tab
$color-focus: #78c8fe !default;
$focus-width: 2px !default;

//Legibility - auto detect font color for background
$f-color-light: $color-contrast-lowest !default; //font color for dark background
$f-color-dark: $color-contrast-high !default; //font color for light background
