
.ci-board-o:before { content: '\e800'; } /* '' */
.ci-board:before { content: '\e801'; } /* '' */
.ci-board-match:before { content: '\e802'; } /* '' */
.ci-board-match-o:before { content: '\e803'; } /* '' */
.ci-winner1:before { content: '\e804'; } /* '' */
.ci-winner2:before { content: '\e805'; } /* '' */
.ci-winner4:before { content: '\e807'; } /* '' */
.ci-moves1:before { content: '\e808'; } /* '' */
.ci-moves2:before { content: '\e809'; } /* '' */
.ci-cw:before { content: '\e80a'; } /* '' */
.ci-cw-o:before { content: '\e80b'; } /* '' */
.ci-cw-alt:before { content: '\e80c'; } /* '' */
.ci-cw-alt-o:before { content: '\e80d'; } /* '' */
.ci-cw-blitz:before { content: '\e80e'; } /* '' */
.ci-cw-blitz-o:before { content: '\e80f'; } /* '' */
.ci-comp-bishop:before { content: '\e810'; } /* '' */
.ci-comp-pawn:before { content: '\e811'; } /* '' */
.ci-pawn-half:before { content: '\e812'; } /* '' */
.ci-pawn-half-o:before { content: '\e813'; } /* '' */
.ci-pawn-half-alt:before { content: '\e814'; } /* '' */
.ci-pawn-half-alt-o:before { content: '\e815'; } /* '' */
.ci-correspond:before { content: '\e816'; } /* '' */
.ci-chessbook:before { content: '\e817'; } /* '' */
.ci-fide-sign:before { content: '\e818'; } /* '' */
.ci-alpha-wkw:before { content: '\e819'; } /* '' */
.ci-alpha-wqw:before { content: '\e81a'; } /* '' */
.ci-alpha-wrw:before { content: '\e81b'; } /* '' */
.ci-alpha-wbw:before { content: '\e81c'; } /* '' */
.ci-alpha-wnw:before { content: '\e81d'; } /* '' */
.ci-alpha-wpw:before { content: '\e81e'; } /* '' */
.ci-alpha-wkb:before { content: '\e81f'; } /* '' */
.ci-alpha-wqb:before { content: '\e820'; } /* '' */
.ci-alpha-wrb:before { content: '\e821'; } /* '' */
.ci-alpha-wbb:before { content: '\e822'; } /* '' */
.ci-alpha-wnb:before { content: '\e823'; } /* '' */
.ci-alpha-wpb:before { content: '\e824'; } /* '' */
.ci-alpha-bkw:before { content: '\e825'; } /* '' */
.ci-alpha-bqw:before { content: '\e826'; } /* '' */
.ci-alpha-brw:before { content: '\e827'; } /* '' */
.ci-alpha-bbw:before { content: '\e828'; } /* '' */
.ci-alpha-bnw:before { content: '\e829'; } /* '' */
.ci-alpha-bpw:before { content: '\e82a'; } /* '' */
.ci-alpha-bkb:before { content: '\e82b'; } /* '' */
.ci-alpha-bqb:before { content: '\e82c'; } /* '' */
.ci-alpha-brb:before { content: '\e82d'; } /* '' */
.ci-alpha-bbb:before { content: '\e82e'; } /* '' */
.ci-alpha-bnb:before { content: '\e82f'; } /* '' */
.ci-alpha-bpb:before { content: '\e830'; } /* '' */
.ci-bb-ss-l:before { content: '\e831'; } /* '' */
.ci-bb-sx-lt:before { content: '\e832'; } /* '' */
.ci-bb-sx-t:before { content: '\e833'; } /* '' */
.ci-bb-sx-rt:before { content: '\e834'; } /* '' */
.ci-bb-sx-r:before { content: '\e835'; } /* '' */
.ci-magn-wkw:before { content: '\e836'; } /* '' */
.ci-magn-wqw:before { content: '\e837'; } /* '' */
.ci-magn-wrw:before { content: '\e838'; } /* '' */
.ci-magn-wnw:before { content: '\e839'; } /* '' */
.ci-magn-wbw:before { content: '\e83a'; } /* '' */
.ci-magn-wpw:before { content: '\e83b'; } /* '' */
.ci-magn-wkb:before { content: '\e83c'; } /* '' */
.ci-magn-wqb:before { content: '\e83d'; } /* '' */
.ci-magn-wrb:before { content: '\e83e'; } /* '' */
.ci-magn-wnb:before { content: '\e83f'; } /* '' */
.ci-magn-wbb:before { content: '\e840'; } /* '' */
.ci-magn-wpb:before { content: '\e841'; } /* '' */
.ci-magn-bkw:before { content: '\e842'; } /* '' */
.ci-magn-bqw:before { content: '\e843'; } /* '' */
.ci-magn-brw:before { content: '\e844'; } /* '' */
.ci-magn-bnw:before { content: '\e845'; } /* '' */
.ci-magn-bbw:before { content: '\e846'; } /* '' */
.ci-magn-bpw:before { content: '\e847'; } /* '' */
.ci-magn-bkb:before { content: '\e848'; } /* '' */
.ci-magn-bqb:before { content: '\e849'; } /* '' */
.ci-magn-brb:before { content: '\e84a'; } /* '' */
.ci-magn-bnb:before { content: '\e84b'; } /* '' */
.ci-magn-bbb:before { content: '\e84c'; } /* '' */
.ci-magn-bpb:before { content: '\e84d'; } /* '' */
.ci-sqw:before { content: '\e84e'; } /* '' */
.ci-sqb:before { content: '\e84f'; } /* '' */
.ci-sqw-dot:before { content: '\e850'; } /* '' */
.ci-sqb-dot:before { content: '\e851'; } /* '' */
.ci-sqw-stop:before { content: '\e852'; } /* '' */
.ci-sqb-stop:before { content: '\e853'; } /* '' */
.ci-bb-sx-rb:before { content: '\e854'; } /* '' */
.ci-bb-sx-b:before { content: '\e855'; } /* '' */
.ci-bb-sx-lb:before { content: '\e856'; } /* '' */
.ci-bb-dx-l:before { content: '\e857'; } /* '' */
.ci-bb-dx-lt:before { content: '\e858'; } /* '' */
.ci-bb-dx-t:before { content: '\e859'; } /* '' */
.ci-bb-dx-rt:before { content: '\e85a'; } /* '' */
.ci-bb-dx-r:before { content: '\e85b'; } /* '' */
.ci-bb-dx-rb:before { content: '\e85c'; } /* '' */
.ci-bb-dx-b:before { content: '\e85d'; } /* '' */
.ci-bb-dx-lb:before { content: '\e85e'; } /* '' */
.ci-bb-sx-c1:before { content: '\e85f'; } /* '' */
.ci-bb-sx-c2:before { content: '\e860'; } /* '' */
.ci-bb-sx-c3:before { content: '\e861'; } /* '' */
.ci-bb-sx-c4:before { content: '\e862'; } /* '' */
.ci-bb-sx-c5:before { content: '\e863'; } /* '' */
.ci-bb-sx-c6:before { content: '\e864'; } /* '' */
.ci-bb-sx-c7:before { content: '\e865'; } /* '' */
.ci-bb-sx-c8:before { content: '\e866'; } /* '' */
.ci-bb-sx-ca:before { content: '\e867'; } /* '' */
.ci-bb-sx-cb:before { content: '\e868'; } /* '' */
.ci-bb-sx-cc:before { content: '\e869'; } /* '' */
.ci-bb-sx-cd:before { content: '\e86a'; } /* '' */
.ci-bb-sx-ce:before { content: '\e86b'; } /* '' */
.ci-bb-sx-cf:before { content: '\e86c'; } /* '' */
.ci-bb-sx-cg:before { content: '\e86d'; } /* '' */
.ci-bb-sx-ch:before { content: '\e86e'; } /* '' */
.ci-bb-dx-c1:before { content: '\e86f'; } /* '' */
.ci-bb-dx-c2:before { content: '\e870'; } /* '' */
.ci-bb-dx-c3:before { content: '\e871'; } /* '' */
.ci-bb-dx-c4:before { content: '\e872'; } /* '' */
.ci-bb-dx-c5:before { content: '\e873'; } /* '' */
.ci-bb-dx-c6:before { content: '\e874'; } /* '' */
.ci-bb-dx-c7:before { content: '\e875'; } /* '' */
.ci-bb-dx-c8:before { content: '\e876'; } /* '' */
.ci-bb-dx-ca:before { content: '\e877'; } /* '' */
.ci-bb-dx-cb:before { content: '\e878'; } /* '' */
.ci-bb-dx-cc:before { content: '\e879'; } /* '' */
.ci-bb-dx-cd:before { content: '\e87a'; } /* '' */
.ci-bb-dx-ce:before { content: '\e87b'; } /* '' */
.ci-bb-dx-cf:before { content: '\e87c'; } /* '' */
.ci-bb-dx-cg:before { content: '\e87d'; } /* '' */
.ci-bb-dx-ch:before { content: '\e87e'; } /* '' */
.ci-stopwatch:before { content: '\e87f'; } /* '' */
.ci-crown:before { content: '\e880'; } /* '' */
.ci-crown-plus:before { content: '\e881'; } /* '' */
.ci-clock:before { content: '\e882'; } /* '' */
.ci-crown-minus:before { content: '\e883'; } /* '' */
.ci-tourney:before { content: '\e884'; } /* '' */
.ci-award:before { content: '\e885'; } /* '' */
.ci-award-o:before { content: '\e886'; } /* '' */
.ci-table:before { content: '\f0ce'; } /* '' */
.ci-foursquare:before { content: '\f1a5'; } /* '' */