
.xi-forum:before { content: '\e800'; } /* '' */
.xi-forum-o:before { content: '\e801'; } /* '' */
.xi-comment:before { content: '\e802'; } /* '' */
.xi-comment-o:before { content: '\e803'; } /* '' */
.xi-chat:before { content: '\e804'; } /* '' */
.xi-chat-reply:before { content: '\e805'; } /* '' */
.xi-home:before { content: '\e806'; } /* '' */
.xi-home2:before { content: '\e807'; } /* '' */
.xi-users:before { content: '\e808'; } /* '' */
.xi-team:before { content: '\e809'; } /* '' */
.xi-group:before { content: '\e80a'; } /* '' */
.xi-group-c:before { content: '\e80b'; } /* '' */
.xi-tourney:before { content: '\e80c'; } /* '' */
.xi-tourney2:before { content: '\e80d'; } /* '' */
.xi-info:before { content: '\e80e'; } /* '' */
.xi-info-c:before { content: '\e80f'; } /* '' */
.xi-read:before { content: '\e810'; } /* '' */
.xi-read-link:before { content: '\e811'; } /* '' */
.xi-reply:before { content: '\e812'; } /* '' */
.xi-reply-quote:before { content: '\e813'; } /* '' */
.xi-crown:before { content: '\e814'; } /* '' */
.xi-mail:before { content: '\e815'; } /* '' */
.xi-mail-plus:before { content: '\e816'; } /* '' */
.xi-mail-ban:before { content: '\e817'; } /* '' */
.xi-mail-flag:before { content: '\e818'; } /* '' */
.xi-mail-lock:before { content: '\e819'; } /* '' */
.xi-mail-new:before { content: '\e81a'; } /* '' */
.xi-mail-alt-o:before { content: '\e81b'; } /* '' */
.xi-mail-alt:before { content: '\e81c'; } /* '' */
.xi-mail-big:before { content: '\e81d'; } /* '' */
.xi-thumb:before { content: '\e81e'; } /* '' */
.xi-thumb-big:before { content: '\e81f'; } /* '' */
.xi-lock:before { content: '\e820'; } /* '' */
.xi-lock-open:before { content: '\e821'; } /* '' */
.xi-lock-open-alt:before { content: '\e822'; } /* '' */
.xi-king:before { content: '\e823'; } /* '' */
.xi-queen:before { content: '\e824'; } /* '' */
.xi-rock:before { content: '\e825'; } /* '' */
.xi-bishop:before { content: '\e826'; } /* '' */
.xi-knight:before { content: '\e827'; } /* '' */
.xi-piece:before { content: '\e828'; } /* '' */
.xi-a-left-c:before { content: '\e829'; } /* '' */
.xi-a-up-c:before { content: '\e82a'; } /* '' */
.xi-a-right-c:before { content: '\e82b'; } /* '' */
.xi-a-down-c:before { content: '\e82c'; } /* '' */
.xi-chat-sidebar:before { content: '\e82d'; } /* '' */
.xi-bookmark:before { content: '\e82e'; } /* '' */
.xi-tag:before { content: '\e82f'; } /* '' */
.xi-tags:before { content: '\e830'; } /* '' */
.xi-expand:before { content: '\e831'; } /* '' */
.xi-collapse:before { content: '\e832'; } /* '' */
.xi-wifi:before { content: '\e833'; } /* '' */
.xi-send:before { content: '\e834'; } /* '' */
.xi-send-o:before { content: '\e835'; } /* '' */
.xi-check:before { content: '\e836'; } /* '' */
.xi-check-o:before { content: '\e837'; } /* '' */
.xi-config:before { content: '\e838'; } /* '' */
.xi-globe:before { content: '\e839'; } /* '' */
.xi-pin:before { content: '\e83a'; } /* '' */
.xi-cross:before { content: '\e83b'; } /* '' */
.xi-quote-left:before { content: '\e83c'; } /* '' */
.xi-quote-right:before { content: '\e83d'; } /* '' */
.xi-alert:before { content: '\e83e'; } /* '' */
.xi-down-dir-o:before { content: '\e83f'; } /* '' */
.xi-page-first:before { content: '\e840'; } /* '' */
.xi-page-prev:before { content: '\e841'; } /* '' */
.xi-page-next:before { content: '\e842'; } /* '' */
.xi-page-last:before { content: '\e843'; } /* '' */
.xi-refresh:before { content: '\e844'; } /* '' */
.xi-heart:before { content: '\e845'; } /* '' */
.xi-heart-broken:before { content: '\e846'; } /* '' */
.xi-star:before { content: '\e847'; } /* '' */
.xi-star-half:before { content: '\e848'; } /* '' */
.xi-star-o:before { content: '\e849'; } /* '' */
.xi-star-half-o:before { content: '\e84a'; } /* '' */
.xi-like:before { content: '\e84b'; } /* '' */
.xi-like-o:before { content: '\e84c'; } /* '' */
.xi-dislike:before { content: '\e84d'; } /* '' */
.xi-dislike-o:before { content: '\e84e'; } /* '' */
.xi-important:before { content: '\e84f'; } /* '' */
.xi-power-off:before { content: '\e850'; } /* '' */
.xi-camera:before { content: '\e851'; } /* '' */
.xi-location:before { content: '\e852'; } /* '' */
.xi-briefcase:before { content: '\e853'; } /* '' */
.xi-doc:before { content: '\e854'; } /* '' */
.xi-attention:before { content: '\e855'; } /* '' */
.xi-attention-o:before { content: '\e856'; } /* '' */
.xi-angle-left:before { content: '\e857'; } /* '' */
.xi-angle-right:before { content: '\e858'; } /* '' */
.xi-edit:before { content: '\e859'; } /* '' */
.xi-trash-o:before { content: '\e85a'; } /* '' */
.xi-trash:before { content: '\e85b'; } /* '' */
.xi-inbox:before { content: '\e85c'; } /* '' */
.xi-link:before { content: '\e85d'; } /* '' */
.xi-outbox:before { content: '\e85e'; } /* '' */
.xi-time:before { content: '\e85f'; } /* '' */
.xi-timer:before { content: '\e860'; } /* '' */
.xi-eye:before { content: '\e861'; } /* '' */
.xi-eye-half:before { content: '\e862'; } /* '' */
.xi-award:before { content: '\e863'; } /* '' */
.xi-folder-open:before { content: '\e864'; } /* '' */
.xi-folder-close:before { content: '\e865'; } /* '' */
.xi-glyph:before { content: '\e866'; } /* '' */
.xi-power:before { content: '\e867'; } /* '' */
.xi-grid2:before { content: '\e868'; } /* '' */
.xi-chart-line:before { content: '\e869'; } /* '' */
.xi-zoom-in:before { content: '\e86a'; } /* '' */
.xi-zoom-out:before { content: '\e86b'; } /* '' */
.xi-ok:before { content: '\e86c'; } /* '' */
.xi-ok-circled:before { content: '\e86d'; } /* '' */
.xi-ok-circled-o:before { content: '\e86e'; } /* '' */
.xi-left-dir:before { content: '\e86f'; } /* '' */
.xi-right-dir:before { content: '\e870'; } /* '' */
.xi-up-dir:before { content: '\e871'; } /* '' */
.xi-down-dir:before { content: '\e872'; } /* '' */
.xi-plus-circled:before { content: '\e873'; } /* '' */
.xi-minus-circled:before { content: '\e874'; } /* '' */
.xi-wrench:before { content: '\e875'; }

.xi-play-simul:before { content: '\e876'; }
.xi-playgroup:before { content: '\e877'; }
.xi-specgroup:before { content: '\e878'; }
.xi-play-one:before { content: '\e87c'; }
.xi-vip:before { content: '\e87d'; }
.xi-play-menu:before { content: '\e88b'; }
.xi-tourney3:before { content: '\e880'; }
.xi-onboard:before { content: '\e881'; }
.xi-tactic:before { content: '\e882'; }
.xi-sysgroup:before { content: '\e888'; }
.xi-usergroup:before { content: '\e889'; }
.xi-corrs:before { content: '\e88a'; }
.xi-community:before { content: '\e88d'; }
.xi-comp1:before { content: '\e88e'; }
.xi-coach:before { content: '\e890'; }
.xi-video:before { content: '\e896'; }
.xi-chessbasics:before { content: '\e897'; }
.xi-broadcasts:before { content: '\e899'; }
.xi-streamers:before { content: '\e89a'; }
.xi-learninig:before { content: '\e8a5'; }
.xi-study:before { content: '\e8a6'; }
.xi-puzzles:before { content: '\e8a7'; }
.xi-coords:before { content: '\e8a8'; }
.xi-eco:before { content: '\e8a9'; }
.xi-analysis:before { content: '\e8aa'; }
.xi-builder:before { content: '\e8ab'; }
.xi-book1:before { content: '\e8ad'; }
.xi-book2:before { content: '\e8ae'; }
.xi-negtb:before { content: '\e8af'; }
.xi-wgames:before { content: '\e8b0'; }
.xi-tv:before { content: '\e8b1'; }
.xi-challenge:before { content: '\e8b2'; }
.xi-palm:before { content: '\e8b3'; }
.xi-discord:before { content: '\e8b4'; }
.xi-bddiag:before { content: '\e8b5'; }
.xi-qtree:before { content: '\e8b6'; }
.xi-mlist:before { content: '\e8b7'; }
.xi-resign:before { content: '\e8b8'; }
.xi-next-game:before { content: '\e8b9'; }
.xi-hourglass:before { content: '\e8ba'; }

.xi-copy:before { content: '\f0c5'; }
.xi-grid1:before { content: '\f0ce'; }
.xi-paste:before { content: '\f0ea'; }
.xi-ok-squared:before { content: '\f14a'; }



